.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
/* Your Custom code here */
.wrapper {
  max-width: 1230px;
  width: 86%;
  margin-left: 9%;
  margin-right: 5%;
}
/*Header styles*/
.top_header {
  height: 122px;
  line-height: 122px;
}
.top_header .wrapper {
  overflow: hidden;
}
.top_header .wrapper .logo_section {
  width: 40%;
  float: left;
}
.top_header .wrapper .top_navigation {
  width: 50%;
  float: left;
}
.top_header .wrapper .top_navigation .ale_headermenu {
  display: inline-block;
}
.top_header .wrapper .top_navigation .ale_headermenu::after {
  content: '';
}
.top_header .wrapper .top_navigation .ale_headermenu .menu-item {
  line-height: 48px;
  height: 48px;
  display: inline-block;
  border: 2px solid transparent;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  min-width: 80px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .wrapper .top_navigation .ale_headermenu .menu-item:hover {
  border-color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .wrapper .top_navigation .ale_headermenu .menu-item a {
  font-family: "Lato Medium";
  font-size: 14px;
  color: #fff;
  padding: 20px;
}
.top_header .wrapper .wrapper_avatar .avatar {
  width: 44px;
  height: 44px;
  background: yellow url('img/avatar.png') no-repeat center;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  margin-top: 36px;
  position: relative;
}
.top_header .wrapper .wrapper_avatar .avatar::after {
  content: '\f0d7';
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: -16px;
  top: 16px;
  color: #fff;
  cursor: pointer;
}
